from datetime import datetime
import os
import time

# ==== Systemkonfiguration ====
VRM_API_TOKEN = ''
VRM_INSTALLATION_ID = ''
venus_host = ""
venus_device_id = ""

# ==== Batterie ====
battery_target_soc = 95
battery_capacity_kwh = 16
battery_voltage = 52
battery_charging_efficiency = 0.90
battery_min_charge_current = 1
battery_fallback_charge_current = 80
battery_max_charge_current = 80

# ==== Prognose / Steuerung ====
forecast_start_offset_hours = 0
forecast_end_offset_hours = 0
household_baseline_watt = 300
charging_weight_exponent = 2.0      # Basiswert für exponentielle Gewichtung

# ==== Debug/Test ====
output_forecast = True
test_mode_on = False

# Zeitsteuerung
os.environ['TZ'] = 'Europe/Berlin'
time.tzset()

if test_mode_on:
    battery_soc_override = 30
    now_override = datetime(2025, 4, 22, 6, 1, 0)
    #forecast_override_data = None
    forecast_override_data = [
        ("2025-04-22 06:00", 1500),
        ("2025-04-22 07:00", 3000),
        ("2025-04-22 08:00", 5000),
        ("2025-04-22 09:00", 8000),
        ("2025-04-22 10:00", 10500),
        ("2025-04-22 11:00", 18000),
        ("2025-04-22 12:00", 20000),
        ("2025-04-22 13:00", 18000),
        ("2025-04-22 14:00", 12000),
        ("2025-04-22 15:00", 8000),
        ("2025-04-22 17:00", 5000),
        ("2025-04-22 18:00", 500),
        ("2025-04-22 19:00", 500),

    ]
else:
    battery_soc_override = None
    now_override = None
